<body class="mat-app-background" [ngClass] = "{'dark-theme-mode' : isDarkTheme}">
  <div>
    <mat-toolbar color="primary">
      <span>My Application</span>
      <span style="flex:auto;"></span>
      <mat-slide-toggle [(ngModel)] = "isDarkTheme" labelPosition = "before" (change)= "storeThemeSelection()">
        <span class="material-icons">bedtime</span></mat-slide-toggle>
    </mat-toolbar>
  </div>

  <h1>Angular Router App</h1>
  <!-- This nav gives you links to click, which tells the router which route to use (defined in the routes constant in  AppRoutingModule) -->
  <nav>
    <ul>
      <li><a routerLink="/doctor-page-component" routerLinkActive="active">Doctor Component</a></li>
    </ul>
  </nav>
  <!-- The routed views render in the <router-outlet>-->
  <router-outlet></router-outlet>
</body>