<body class="mat-app-background" [ngClass] = "{'dark-theme-mode' : isDarkTheme}" >
  <div>
    <mat-toolbar color="primary">
      <span>Pepper Care</span>
      <span style="flex:auto;"></span>
      <mat-slide-toggle [(ngModel)] = "isDarkTheme" labelPosition = "before" (change)= "storeThemeSelection()">
        <span class="material-icons">bedtime</span></mat-slide-toggle>
    </mat-toolbar>
    <button mat-button (click)="sendMessage('hello backend')">Click me!</button>
  </div>
  <router-outlet></router-outlet>
</body>
