.doctor_page {
    width: 100vw;
    height: 93.2vh;
    background: url('../../assets/background-pepper.png') no-repeat;
    background-size: 100vw 93.2vh
}

.pepper_head{
    text-align: left;
}

.pepper_head img{
    max-height: 7.5vh;
    max-width: 7.5vw;
    position: absolute;
    left: 1%;
    bottom: 0.5%;
}

.avans_logo img{
    max-height: 8vh;
    max-width: 8vw;
    position: absolute;
    right: 0.5%;
    bottom: 2%;
}

.doctor_nondetail{
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 10%;
    height: 50vh;
    /* bring your own prefixes */
    border: 2px solid #c7c9c8;
    border-radius: 18px;
}


.doctor_detail{
    padding: 20px;
    position: absolute;
    top: 30%;
    left: 30%;
    width: 50vw;
    /* bring your own prefixes */
    border: 2px solid #c7c9c8;
    border-radius: 18px;
}

.doctor_nondetail div {
    text-align: center;
}

.doctor_detail div {
   text-align: center;
}