<body class="doctor_page">
    <p>order-page works!</p>
    <div class="doctor_nondetail">
        <div class="dark_space"></div>
        <div>
            <mat-label>Patiëntenlijst</mat-label></div>
        <div>
            <a class= "order_button" mat-raised-button routerLink="/doctor-page-component" color= "primary">Patiëntinformatie</a>
        </div>
    </div>
    <div class="pepper_head">
        <img src="assets/pepper-head.png">
    </div>
    <div class="avans_logo">
        <img src="assets/logo-white-2.png">
    </div>
</body>
