<body class="order_page">
    <div class="order_nondetail">
        <div>
            <mat-label>Maaltijden</mat-label>
        </div>
        <div>
            <mat-list *ngFor="let meal of meals" role="list">
                <mat-list-item role="listitem">
                    <mat-card>
                        <div>{{meal.name}}</div>
                        <div>{{meal.description}}</div>
                        <div>{{meal.calories}}</div>
                        <div>{{formatAllergies(meal.allergies)}}</div>
                        <div>{{meal.image}}</div>
                    </mat-card>
                </mat-list-item>
            </mat-list>
        </div>
        <div>
            <a class= "order_button" mat-raised-button routerLink="/doctor-page-component" color= "primary">Patiëntinformatie</a>
        </div>
    </div>
    <div class="order_detail">
        <div>
            <mat-label>Bestellingen</mat-label>
        </div>
        <div>
            <mat-list role="list">
                <mat-list-item role="listitem"><mat-card>Simple card</mat-card></mat-list-item>
                <mat-list-item role="listitem"><mat-card>Simple card</mat-card></mat-list-item>
                <mat-list-item role="listitem"><mat-card>Simple card</mat-card></mat-list-item>
            </mat-list>
        </div>
    </div>
    <mat-card class="add-meal-container">
        <div>Maaltijd toevoegen</div>
        <mat-form-field>
            <input matInput placeholder="Naam" [(ngModel)]="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Beschrijving" [(ngModel)]="description">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Calorien" [(ngModel)]="calories">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Allergien" [(ngModel)]="allergies">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Afbeelding" [(ngModel)]="image">
        </mat-form-field>
        <button mat-button (click)="onMealSave()">Voeg toe</button>
    </mat-card>
    <div class="pepper_head">
        <img src="assets/pepper-head.png">
    </div>
    <div class="avans_logo">
        <img src="assets/logo-white-2.png">
    </div>
</body>
