.login_page {
    width: 100vw;
    height:93.2vh;
    background: url('../../assets/background-pepper.png') no-repeat;
    background-size: 100vw 93.2vh
   
}

.login_roundcircle {
    padding: 20px;
    width: 20vw;
    height: 50vh;
    position: absolute;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.login_roundcircle div {
    text-align: center;
}

.pepper_head{
    text-align: left;
}

.pepper_head img{
    max-height: 7.5vh;
    max-width: 7.5vw;
    position: absolute;
    left: 1%;
    bottom: 0.5%;
}

.avans_logo img{
    max-height: 8vh;
    max-width: 8vw;
    position: absolute;
    right: 0.5%;
    bottom: 2%;
}

